@model MusicPlayer_Project.ViewModels.PlaylistOverviewViewModel
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}

<div class="container">
    @foreach (var playlist in Model.Playlists)
    {
        <div class="card col-md-4" style="float: left;">
            <img class="card-img-top">
            <div class="card-body">
                <p class="card-text"><strong>@playlist.NamePlaylist</strong></p>
                <p>Bevat:</p>
                <ul>
                    <li>@playlist.SongsInPlaylist</li>
                    <li>@playlist.DateAdded</li>
                </ul>
            </div>
        </div>
    }
</div>