@model MusicPlayer_Project.ViewModels.PlaylistDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<p>
    Voornaam: @Model.Name
</p>
<p>
    Datum aangemaakt @Html.DisplayFor(ModelItem => Model.DateAdded)
</p>

@Html.ActionLink("terug", "index", "Playlist")
